<h2 style="color:white">{{title}}</h2>

<div class="row">
    <div class="col-md-6">

      {{recepy-item-form
        recepy=newRecepy
        categories=categories
        buttonLabel=buttonLabel
        action='saveRecepy'}}

    </div>

</div>
