<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        {{#link-to 'index' class="navbar-brand"}}<i class="fa fa-cutlery"></i> Recetary App{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#nav-link-to 'index' class="nav-item nav-link"}}Home{{/nav-link-to}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Recepies <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#nav-link-to 'recepies.categories' class="nav-item nav-link"}}Categories{{/nav-link-to}}
                {{#nav-link-to 'recepies.ingredients' class="nav-item nav-link"}}Ingredients{{/nav-link-to}}
              </ul>
            </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {{#if session.isAuthenticated}}
          Welcome {{session.currentUser.email}}!
                <button
                    class='btn btn-default navbar-btn'
                    {{action 'logout'}}
                >
                    {{fa-icon 'sign-out'}} Logout
                </button>
          {{else}}
              {{#nav-link-to 'login' class="nav-item nav-link right"}}<i class="fa fa-user" aria-hidden="true"></i> Login{{/nav-link-to}}
              {{#nav-link-to 'register' class="nav-item nav-link right"}}<i class="fa fa-sign-in" aria-hidden="true"></i> Register{{/nav-link-to}}
          {{/if}}


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
