<div class="container" style="background-color:white">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ingredients
                    <small>Here are the recipes ingredients</small>
                </h1>
            </div>
        </div>

        {{#each model as |ingredient|}}
          {{#ingredient-item item=ingredient}}
              {{#link-to 'ingredients.edit' ingredient.id class="btn btn-success btn-xs"}}Edit{{/link-to}}
              <button class="btn btn-danger btn-xs" {{action 'deleteIngredient' ingredient}}>Delete</button>
              {{ingredient.hasRecepies}}
          {{/ingredient-item}}
        {{/each}}
</div>
