<div class="row">
    <div class="col-md-7">
      <img src="{{item.imgLink}}" class="img-responsive" alt="">
    </div>
    <div class="col-md-5">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>
