<h1 style="color:white">Categories</h1>

<div class="well well-sm">
    <ul class="nav nav-pills">
      {{#nav-link-to 'recepies.categories.index' class="nav-item nav-link"}}List All{{/nav-link-to}}
      {{#nav-link-to 'recepies.categories.new' class="nav-item nav-link"}}Add New{{/nav-link-to}}
    </ul>
</div>
{{outlet}}
